<footer>
  <div class="content">
  <div class="image-wrapper"><img src="/assets/img/41787041_542429219520862_7618618521009782784_n.jpg"></div>
  <nav>
    <ul>
      <li><a href="https://www.instagram.com/alottes83/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.xing.com/profile/Andreas_Lottes" target="_blank"><i class="fab fa-xing"></i></a></li>
      <li><a href="https://www.facebook.com/alottes83" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    </ul>
  </nav>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/app.js"></script>
