.main-blog{

  ul {
    list-style:none;
    padding: 0px !important;
    li{
      display: inline-block;
      width: 33%;
      float: left;
      padding: 10px;
      background: #f0f1f1;
    }
  }

}
