.main-blog{
  ul {
    list-style:none;
    padding: 0px !important;
    li{
    /* display: inline-block; */
    text-align: center;
    /* width: 50%; */
    /* float: left; */
    padding: 10px;
    min-height: 150px;
    background: #f0f1f1;
    }
  }
}
