footer {
  position: relative;
  height: 270px;
  background-color: $light-grey;
  color: $light-white;
  .content {
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 110px;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 960px;
    padding: 0 50px;
  }
  .logo {
  background: #ccc;
  width: 50px;
  height: 50px;
  }
  nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50px, -50%);
    ul li {
      display: inline-block;
      list-style: none;
      width: 60px;
      height: 10px;
      }
  }
}
