footer {
  position: relative;
  height: 50px;
  background-color: $light-grey;
  color: $light-white;
  .content {
    position: relative;
    z-index: 1;
    left: 50%;
    bottom: -10px; 
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 960px;
    padding: 0 50px;
  }
  .image-wrapper {
  width: 50px;
  height: 50px;
    margin-top: -15px !important;
    img {
      width:100%;
      height: 100%;
    }
  }
  nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50px, -50%);
    ul {
      margin: 0;
      li {
        display: inline-block;
        list-style: none;
        width: 60px;
        height: 10px;
        a {
          color:white;
        }
      }
    }
  }
  .copyright{
    font-weight: 100;
    font-size: 0.8em;
    line-height: 2rem;
  }
}

@media screen and (max-width: 42em)
{
  footer {
    height:200px;
  }
  nav {
    clear: both;
    position: inherit;
    top: 100px;
    margin: 0px auto;
    text-align: center;
  }
}
