footer {
  position: relative;
  height: 270px;
  background-color: $light-grey;
  color: $light-white;
  .content {
    position: relative;
    z-index: 1;
    left: 50%;
    bottom: -110px; 
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 960px;
    padding: 0 50px;
  }
  .image-wrapper {
  width: 50px;
  height: 50px;
    margin-top: -30px !important;
    img {
      width:100%;
      height: 100%;
    }
  }
  nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50px, -50%);
    ul li {
      display: inline-block;
      list-style: none;
      width: 60px;
      height: 10px;
      a {
        color:white;
      }
    }
  }
}
