---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,900');
body {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $body-text-color;
}
.page-header {
  background-color: #222426;
  background-image: none;
  color: #fdfdff;
}
.fill {
  height: 100vh;
  min-height: 100%;
  h1 {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
