<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <header class="page-header fill" role="banner" id="intro-header">
      <h1>
        Hi, my name is <strong class="blue-font">Andreas Lottes</strong> <br/><span class="small"> I am <span class="element"></span> <br/> from germany</span>
      </h1>
      <a class="scroll-down" href="#content">
        <span class="scroll-mouse">
          <span class="scroll-wheel"></span>
        </span>
      </a>
    </header>
    <div class="main-wrapper" id="content">
      <div class="main-content main-about">
        <div class="image-wrapper"><img src="/assets/img/41787041_542429219520862_7618618521009782784_n.jpg" /></div>
        <h3>About me</h3>
        since more than 10 years i am frontent developer and UI / UX Designer. I love to build interfaces that creates emotions and make the user feel good by using them. I live in Saarbrücken / Germany and would like to talk with you about user experience design.
      </div>
      <div class="main-content main-blog">
        <ul>
        {% for post in site.posts %}
          <li>
            <h3>{{ post.title }}</h3>
            {{ post.description }}
            <a class="link-btn" href="{{ post.url }}">read more ...</a>
          </li>
        {% endfor %}
      </ul>
      </div>
      <main class="main-content" role="main">
        {{ content }}
      </main>
      <div class="main-content main-logos">
        <img class="logo-line" src="assets/img/angular_solidBlack.svg"/>
        <img class="logo-line" src="assets/img/nodejs.png"/>
        <img class="logo-line" src="assets/img/sass.png"/>
        <img class="logo-line" src="assets/img/typescript.svg"/>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
